.cell {
    width: 81px;
    height: 81px;
    border: 2px solid #4C4347;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    font-weight: 900;
    background-color: #998f8f;
    color: white;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
  }
  
  .cell.active {
    border-bottom: 4px solid #4C4347;
  }
  
  .cell.green {
    background-color: #6aaa64;
  }
  
  .cell.yellow {
    background-color: #c9b458;
  }
  
  .cell.gray {
    background-color: #4C4347;
  }  