.dropdown-menu {
    position: relative;
    display: inline-block;
    background-color: transparent;
    user-select: none;
    display: flex;
    flex-direction: row;
  }
  
  .menu-button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: transparent;
  }
  
  .menu-button.active {
    background-color: #4C4347;
  }
  
  .menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4C4347;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 1000;
    border-radius: 0px 10px 10px 10px;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .menu-list.open {
    transform: translateY(0);
    opacity: 1;
  }
  
  .menu-list li {
    padding: 10px 15px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }