#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #4C4347;
  cursor: default;
}

::selection {
  background: rgba(0, 0, 0, 0);
  color: inherit;
}

.continue-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: #6aaa64;
}

.retry-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retry-button:hover {
  background-color: #d9534f;
}