#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #4C4347;
  cursor: default;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 3px;
}

.grid.passed {
  opacity: 1;
}

.grid.passed .grid-input {
  background-color: #4C4347;
  border-color: #4C4347;
  color: white;
}

.grid.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.grid.inactive .grid-input {
  background-color: #5f5a5c;
  border-color: #5f5a5c;
  opacity: 0.5;
}

.grid.inactive .grid-input.green {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: white;
}

.grid.inactive .grid-input.yellow {
  background-color: #c9b458;
  border-color: #c9b458;
  color: white;
}

.grid-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  text-align: center;
  font-size: 52px;
  border: 0.125em solid #4C4347;
  border-radius: 10%;
  box-sizing: border-box;
  background-color: #998f8f;
  caret-color: auto;
  text-transform: uppercase;
  font-weight: 900;
  transition: background-color 0.3s ease;
}

.grid-input.active {
  border-bottom: 15px solid #4C4347;
}

.grid .grid-input.green {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.grid .grid-input.yellow {
  background-color: #d3ad69;
  border-color: #d3ad69;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.grid .grid-input.gray {
  background-color: #4C4347;
  border-color: #4C4347;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.grid-input.yellow {
  background-color: #d3ad69;
  border-color: #d3ad69;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.grid-input.gray {
  background-color: #4C4347;
  border-color: #4C4347;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.grid-input:focus {
  outline: none;
  border-bottom: 0.25em solid #4C4347;
  caret-color: transparent;
}

.grid-input.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

::selection {
  background: rgba(0, 0, 0, 0);
  color: inherit;
}

.continue-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: #6aaa64;
}

.retry-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retry-button:hover {
  background-color: #d9534f;
}