#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #4C4347;
  cursor: default;
  top: 0;
  margin: 0;
}

::selection {
  background: rgba(0, 0, 0, 0);
  color: inherit;
}

.continue-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: #6aaa64;
}

.retry-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4c4347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retry-button:hover {
  background-color: #d9534f;
}

.palavras {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; /* Adicionado para posicionar o pseudo-elemento */
}

@media (max-width: 768px) {
  .palavras {
    max-width: 95vw;
    padding: 0 5px;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .palavras::-webkit-scrollbar {
    display: none;
  }
  
  /* Ajuste para quando o scroll chegar ao final */
  .palavras.scrolled-to-bottom::after {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  h1 {
    font-size: 3rem;
  }

  .keyboard-container {
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 5px;
  }
}